html {
  scroll-behavior: smooth;
}

.header-div {
  height: 92vh;
}

.dp-div {
  height: 46vh;
  text-align: center;
}

.name-div {
  height: 23vh;
  text-align: center;
  display: table;
}

.name {
  display: table-cell;
  vertical-align: middle;
  font-family: 'Merienda', cursive;
  font-size: 3rem;
  color: teal;
}

.intro-div {
  height: 23vh;
  display: table;
}

.intro {
  color: white;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  font-family: 'Merriweather', serif;
  font-size: 1.1rem;
}

.img-fluid {
  height: 40vh;
  margin-top: 6vh;
  border-radius: 100%;
  border: 3px solid white;
}

/* .skill-row {
  left: 50%;
  transform: translateX(-50%);
} */
.skill-heading {
  font-family: 'Merriweather', serif;
  color: teal;
  margin-top: 20px;
}

.card-title {
  font-family: 'Merriweather', serif;
  color: teal;
}

.card-text {
  font-family: 'Merriweather', serif;
}

[class*="col-"] {
  background-clip: padding-box;
  border: 10px solid transparent;
}