.header-div {
  height: 100vh;
}

.img-fluid {
  max-width: 30%;
  border-radius: 100%;
  border: 3px solid white;
  margin-top: 10vh;
}

@media only screen and (max-width: 1000px) {
  .dp {
    max-width: 65%;
  }
}

.name {
  color: teal;
  padding-top: 7vh;
}

.name-div {
  height: 20vh;
}

.intro-text {
  color: white;
  position: absolute;
  top: 100%;
}

.intro-text-div {
  text-align: left;
}